@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap" rel="stylesheet');

* {
  box-sizing: border-box;
  font-size: 16px;
}
body {
  font-family: 'Karla', sans-serif;
  background-color: hsla(195, 60%, 92%, 0.76);
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container {
  width: 500px;
  height: 400px;
  margin-top: 25%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px;
  overflow: hidden;
}
.community-section {
  background-color: #fff;
  /* box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);*/
  height: 40%;
  padding: 30px;
}
.community-section h2 {
  color: hsl(179, 62%, 43%);
  padding: 0;
  margin: 0;
  font-weight: 700;
}
.community-section h3 {
  color: hsl(71, 73%, 54%);
}
.community-section p {
  color: rgb(128, 128, 128, 0.6);
  font-size: 0.8em;
  line-height: 0.8;
  font-weight: 400;
}
.bottom-container {
  height: 60%;
  display: flex;
  color: #fff;
}

.bottom {
  display: inline-block;
  position: relative;
  padding: 30px;
  width: 50%;
}
.subscription-section {
  background-color: hsl(179, 62%, 43%);
}
.subscription-section p {
  font-size: 0.7rem;
  font-weight: 700;
}

.payment {
  font-size: 2em;
}
.per-month {
  font-size: 0.8em;
  color: rgb(255, 255, 255, 0.5);
  position: relative;
  top: -5px;
  margin-left: 5px;
}

.call-in-action {
  position: relative;
  width: 100%;
  background-color: hsl(71, 73%, 54%);
  border-radius: 3px;
  padding: 10px;
  border: none;
  color: #fff;
  font-size: 0.8em;
  margin-top: 15px;
}

.why-us-section {
  border-bottom-right-radius: 10px;
  background-color: rgba(64, 189, 187, 0.8);
}
.why-us-section p {
  font-size: 0.7em;
  color: rgb(229, 239, 245, 0.8);
  line-height: 0.5;
}
.call-in-action:active {
  transform: scale(0.98);
}
.call-in-action:hover {
  opacity: 0.9;
}

footer {
  display: block;
}
